.row {
    margin: 0 !important;
}

.dataTables_wrapper .dataTables_length label {
    display: flex;
    align-items: center;
}

.period select,
.dataTables_wrapper .dataTables_length label select {
    margin-left: 5px;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-12 {
    width: auto;
}

.table-header-wrapper {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .row:nth-child(1) {
    padding-top: 15px;
    padding-bottom: 1em;
    align-items: center;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-12:nth-child(2) {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    flex-grow: 1;
    align-items: center;
}

.dataTables_wrapper .mr-1 {
    margin-right: 15px;
}

.dataTables_wrapper th {
    font-weight: 500 !important;
    font-size: 14px;
    color: #6a7383;
}

.dataTables_wrapper th:hover {
    color: #000;
}

.dataTables_wrapper td {
    font-size: 14px;
    color: #404452;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #ebeef1 !important;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid gainsboro;
}

table.dataTable thead th {
    border-top: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    background: rgb(99, 91, 255);
    color: #fff;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #f6f8fa
}

.period label,
.dataTables_wrapper .dataTables_length label {
    font-weight: 500;
    font-size: 14px;
}

.dataTables_wrapper .dataTables_filter input,
.period select,
.table-header-wrapper .dropdown-toggle,
.dataTables_wrapper .dataTables_length label select {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(64 68 82 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(64 68 82 / 8%) 0px 2px 5px 0px
}

.dataTables_wrapper .dataTables_filter input,
.period select,
.table-header-wrapper .dropdown-toggle {
    border: none;
    background: none;
    border-radius: 6px;
}

.dataTables_wrapper .dataTables_length select {
    padding: 0px 4px;
    height: auto;
    min-height: 0;
}

.table-btn-wrapper .icon {
    min-height: 28px;
    border-radius: 6px;
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(99, 91, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(99 91 255) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(64 68 82 / 8%) 0px 2px 5px 0px;
}

.table-btn-wrapper .icon a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5px;
}

table.dataTable tbody td {
    text-transform: lowercase;
}


/* .dataTables_wrapper .row:nth-child(1) {
    justify-content: space-between;
} */