<div class="bg-white">
  <div class="leads-graphs">
    <div class="leads-stats">
      <div class="title">
        <h3>Command Centre Overview</h3>
        <div class="filters">
          <!-- <div class="form-group">
            <select class="form-control">
              <option>Channel</option>
              <option>Facebook</option>
              <option>Google</option>
            </select>
          </div> -->

          <div class="form-group">
            <select class="form-control" [(ngModel)]="filter.campaignName" (ngModelChange)="onChange($event)">
              <option value="">Select your Campaign</option>
              <ng-container *ngFor="let campaign of CampaignList">
                <option [value]="campaign">
                  {{campaign}}
                </option>
              </ng-container>
            </select>
          </div>

          <div class="form-group">
            <input type="text" placeholder="Daterangepicker" class="form-control"  (bsValueChange)="onDateSelect($event)"
              [bsConfig]="{containerClass:'theme-default'}" bsDaterangepicker />
          </div>
        </div>
      </div>
    </div>

    
  <!-- commenting as per santhosh  -->
    <!-- <div class="lead-stat-cards">
      <div class="row mx-0">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card lead-card">
            <div class="card-body">
              <div class="flex-wrapper">
                <div class="left-wrap">
                  <p class="count">258</p>
                  <p class="muted-text">
                    Total Leads
                  </p>

                </div>
                <div class="right-wrap stat">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-users align-middle">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                  </span>
                </div>
              </div>


              <div class="percentage">
                <span class="badge badge-soft-success me-2"> +8.65% </span>Sincle Last Year
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card lead-card">
            <div class="card-body">
              <div class="flex-wrapper">
                <div class="left-wrap">
                  <p class="count">258</p>
                  <p class="muted-text">
                    Total Appointment
                  </p>

                </div>
                <div class="right-wrap stat">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-users align-middle">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                  </span>
                </div>
              </div>


              <div class="percentage">
                <span class="badge badge-soft-success me-2"> +8.65% </span>Sincle Last Year
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card lead-card">
            <div class="card-body">
              <div class="flex-wrapper">
                <div class="left-wrap">
                  <p class="count">258</p>
                  <p class="muted-text">
                    Total Money Spent
                  </p>

                </div>
                <div class="right-wrap stat">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-users align-middle">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                  </span>
                </div>
              </div>


              <div class="percentage">
                <span class="badge badge-soft-success me-2"> +8.65% </span>Sincle Last Year
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card lead-card">
            <div class="card-body">
              <div class="flex-wrapper">
                <div class="left-wrap">
                  <p class="count">258</p>
                  <p class="muted-text">
                    Revenu Earned
                  </p>

                </div>
                <div class="right-wrap stat">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-users align-middle">
                      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                      <circle cx="9" cy="7" r="4"></circle>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="percentage">
                <span class="badge badge-soft-success me-2"> +8.65% </span>Sincle Last Year
              </div>
            </div>
          </div>
        </div>


      </div>
    </div> -->

    <!-- ------------------------- monthly leads graph ------------------------- -->
    <div class="leads-graph">
      <div class="leads-table-wrapper">

        <div class="row mx-0">


          <div class="">
            <div class="card table-responsive">
              <div class="card chartItem">
                <div class="item">
                  <canvas baseChart [data]="MaximumLeadPieChart.pieChartData"
                    [labels]="MaximumLeadPieChart.pieChartLabels" [chartType]="MaximumLeadPieChart.pieChartType"
                    [options]="MaximumLeadPieChart.pieChartOptions" [plugins]="MaximumLeadPieChart.pieChartPlugins"
                    [colors]="MaximumLeadPieChart.pieChartColors" [legend]="MaximumLeadPieChart.pieChartLegend">
                  </canvas>

                  <table class="table thead-light table-borderless table-hover">
                    <thead>
                      <tr>
                        <!-- <th>
                          id
                        </th> -->
                        <th>
                          Campaign Name
                        </th>

                        <th>
                          Leads
                        </th>

                        <th>
                          Appointment Booked
                        </th>
                        <!-- as per santhosh commented  -->
                        <!-- <th>
                          Ads Spent(Cost)
                        </th> -->

                        <th>
                          Revenu Earned
                        </th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr style="cursor: pointer;" *ngFor="let campaign of filterCampaignAgg" (click)="onCampaignClick(campaign.campaignName)">
                        <!-- <td>1</td> -->
                        <td>{{campaign.campaignName}}</td>
                        <td>{{campaign.leadCount}}</td>
                        <td>{{campaign.appointmentBooked}}</td>
                        <!-- <td>$300</td> -->
                        <td>{{campaign.revenueSpend}}</td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- commenting told by santhosh -->
          <!-- <div class="col-lg-4 col-md-12">
            <div class="card chartItem line-chart">
              <div class="lead-title dashboard-title">
                <div class="col-sm-12">
                  <h4>
                    Recent Activity
                  </h4>
                </div>

              </div>
              <div class="item card-body">
                <div class="d-flex align-items-start">
                  <img src="https://appstack.bootlab.io/img/avatars/avatar-5.jpg" width="36" height="36"
                    class="rounded-circle me-2" alt="Ashley Briggs">
                  <div class="flex-grow-1">
                    <small class="float-end">5m ago</small>
                    <strong>Ashley Briggs</strong> came from <strong>Campaign Name</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>
                  </div>
                </div>
                <hr>

                <div class="d-flex align-items-start">
                  <img src="https://appstack.bootlab.io/img/avatars/avatar-5.jpg" width="36" height="36"
                    class="rounded-circle me-2" alt="Ashley Briggs">
                  <div class="flex-grow-1">
                    <small class="float-end">5m ago</small>
                    <strong>Ashley Briggs</strong> booked an appointment for <strong>Botox Service</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>

                  </div>

                </div>
                <hr>

                <div class="d-flex align-items-start">
                  <img src="https://appstack.bootlab.io/img/avatars/avatar-5.jpg" width="36" height="36"
                    class="rounded-circle me-2" alt="Ashley Briggs">
                  <div class="flex-grow-1">
                    <small class="float-end">5m ago</small>
                    <strong>Ashley Briggs</strong> made payment for <strong>Botox</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>

                  </div>

                </div>

                <hr>

                <div class="d-flex align-items-start">
                  <img src="https://appstack.bootlab.io/img/avatars/avatar-5.jpg" width="36" height="36"
                    class="rounded-circle me-2" alt="Ashley Briggs">
                  <div class="flex-grow-1">
                    <small class="float-end">5m ago</small>
                    <strong>Ashley Briggs</strong> came from <strong>Campaign Name</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>

                  </div>

                </div>
                <hr>

                <div class="d-flex align-items-start">
                  <img src="https://appstack.bootlab.io/img/avatars/avatar-5.jpg" width="36" height="36"
                    class="rounded-circle me-2" alt="Ashley Briggs">
                  <div class="flex-grow-1">
                    <small class="float-end">5m ago</small>
                    <strong>Ashley Briggs</strong> came from <strong>Campaign Name</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>

                  </div>

                </div>

              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>




    <!-- ----------------------------- cpl starts ------------------------------ -->
    <div class="leads-table-wrapper">
      <div class="lead-title dashboard-title">
        <div class="col-sm-12">
          <h4>
            Cost Per Lead Report (CPL)
          </h4>
        </div>

      </div>
      <div class="row mx-0">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card table-responsive">
            <div class="card chartItem">
              <div class="item">
                <canvas baseChart [datasets]="CplDataChart.lineChartData" [labels]="CplDataChart.lineChartLabels"
                  [chartType]="CplDataChart.lineChartType" [options]="CplDataChart.lineChartOptions"
                  [plugins]="barChartPlugins" [legend]="CplDataChart.lineChartLegend">
                </canvas>

              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="card chartItem">
            <div class="item">


              <table class="table thead-light table-borderless table-hover">
                <thead>
                  <tr>

                    <th>
                      Campaign Name
                    </th>
                    <th>
                      Campaign Cost
                    </th>
                    <th>
                      Lead Generated
                    </th>
                    <th>
                      Appointment Booked
                    </th>
                    <th>
                      Revenu Earned
                    </th>
                    <th>
                      CPL
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of cplData">

                    <td>

                      {{data?.cname}}
                    </td>


                    <td>
                      {{data.lead}}
                    </td>
                    <td>
                      {{data.appointment}}
                    </td>
                    <td>
                      {{data.cost}}
                    </td>

                    <td>
                      {{data.revenuEarned}}
                    </td>
                    <td>
                      {{(data.cost/ data.lead) | number : '1.0-2'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------- Leads table ----------------------------- -->

    <div class="leads-table-wrapper">
      <div class="lead-title dashboard-title">
        <div class="col-sm-12">
          <h4>
            Leads Data
          </h4>
        </div>

      </div>
      <div class="row mx-0">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card chartItem">
            <div class="item">
              <table id="datatable" datatable class="table thead-light table-borderless table-hover">
                <thead>
                  <tr>

                    <th>
                      Lead Name
                    </th>
                    <th>
                      Campaign Name
                    </th>

                    <th>
                      Created Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;" *ngFor="let data of leadData">
                    <td>{{data?.contacts[0]?.name}}</td>
                    <td>{{data?.name}}</td>
                    <td>{{data?.dateCreated | date : 'medium'}}</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="leads-table-wrapper">
      <div class="lead-title dashboard-title">
        <div class="col-sm-12">
          <h4>
            Appointment Data
          </h4>
        </div>

      </div>
      <div class="row mx-0">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card chartItem">
            <div class="item">
              <table id="datatable" datatable class="table thead-light table-borderless table-hover">
                <thead>
                  <tr>
                    <th>
                      id
                    </th>
                    <th>
                      Patient Name
                    </th>
                    <th>
                      Campaign Name
                    </th>
                    <th>
                      Channel Name
                    </th>

                    <th>
                      Service Name
                    </th>

                    <th>
                      Payment Status
                    </th>



                    <th>
                      Created Date
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let appointment of appointments">
                  <tr style="cursor: pointer;">
                    <td>{{appointment?.appointmentId}}</td>
                    <td>{{appointment?.firstName}} {{appointment?.lastName}}</td>
                    <td>Google Ads</td>
                    <td>Chhannnel</td>
                    <td>{{appointment?.serviceName}} </td>
                    <td>{{appointment?.price}}</td>
                    <td>{{appointment?.creationDate | date:'dd MM yyyy'}}</td>
                  </tr>

                  <!-- <tr style="cursor: pointer;">
                    <td>1</td>
                    <td>Lead Name2</td>
                    <td>Google Ads</td>
                    <td>Chhannnel</td>
                    <td>Botox</td>
                    <td>Pending</td>
                    <td>13 Jun 2022</td>
                  </tr> -->

                  <!-- <tr style="cursor: pointer;">
                    <td>1</td>
                    <td>Lead3</td>
                    <td>Facebooks</td>
                    <td>Chhannnel</td>
                    <td>Botox</td>
                    <td>Paid</td>
                    <td>13 Jun 2022</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
